<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @item.member_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'My Profile', member_path(@item.member_id) %>
<%= link_to 'Edit', edit_item_path(@item) %> |

