<!DOCTYPE html>
<html>
<head>
  <title>Donate It!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav> 
			<!--by convention, these should be ul items. See codecademy and/or Creative live notes, etc.
			Use the nav tag and then <a>s for each -->
				
			<ul>
				<li id = "nav_left">Home </li>
				<li id = "nav_left">List of Recipients</li>
				<li id = "nav_left"><%= link_to 'List of Items Requested', items_path %></li>
				<li> I work at Project Homeless Connect</br> <%= link_to 'Take me to the Admin panel', members_path %></li>
				<li> Wow, this site is wonderful. I want to </br> <a href="http://daniellegellis.com">see more of Dani's work</a> </div>
				
			</ul>
		</nav>
<%= yield %>

</body>
</html>