<!DOCTYPE html>
<html>
<head>
  <title>Donate It!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
		<ul>
			<li id = "nav_left"><%=link_to 'Home', 'index.html'%> </li>
			<li id = "nav_left"><%=link_to 'List of Recipients', members_path%></li>
			<li id = "nav_left"><%= link_to 'List of Items Requested', items_path %></li>
			<li> I work at Project Homeless Connect</br> <%= link_to 'Take me to the Admin panel', members_path %></li>
			<li> Wow, this site is wonderful. I want to </br> <a href="http://daniellegellis.com" target="_blank">see more of Dani's work</a> </div>
		</ul>
	</nav>
<%= yield%>
    <br />
    <%=link_to 'Back', :back%>

</body>
</html>