<h1> 
  <%= @member.handup_id %>'s Wish List</h1>

<table class="items-table">

  <thead>
    <tr>
      <td>Item Name</td>
      <td>Description</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>

    <tbody>
    <% @member.items.each do |item| %>
     <td><%= item.item_name %></td>
        <td><%= item.description %></td>
        <td><%= item.status %></td>
        <td>
          <%= button_to "Donate", item_confirmation_path(item), method: :get %>
            
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

